
scripts/00-raw_data/files_downloaded_from_ZENBU/5BBulkCAGE5DTGF-CEB2TimecoursebulklibrariesTPM-normalisedgroupedbytimepoint..osc
scripts/00-raw_data/files_downloaded_from_ZENBU/5BC1CAGE5DTGF-CEB2TimecourselibrariesnormalisedQCfilteredandgroupedbytimepoint_count.osc
